<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
 	<display-name>Spring3mvc</display-name>
	<!-- 添加spring3控制器及映射规则 -->
	<servlet>
	<servlet-name>spring3mvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>spring3mvc</servlet-name>
	<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	<!-- 默认跳转到根目录下的页面，在这里为index.jsp -->
	<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>